<nav class="navbar navbar-expand-sm bg-body-light border-bottom mb-3">
  <div class="navbar-nav top-section">
    <div id="filters">
      <a href="/listings">
        <div class="filter" id="trending">
          <i class="fa-solid fa-fire"></i>
          <p>Trending</p>
        </div>
      </a>

      <a href="/listings/filter/room">
        <div class="filter" id="room">
          <i class="fa-solid fa-bed"></i>
          <p>Rooms</p>
        </div>
      </a>

      <a href="/listings/filter/mountains">
        <div class="filter" id="mountains">
          <i class="fa-solid fa-mountain-city"></i>
          <p>Mountains</p>
        </div>
      </a>

      <a href="/listings/filter/pool">
        <div class="filter" id="pool">
          <i class="fa-solid fa-water-ladder"></i>
          <p>Amazing pools</p>
        </div>
      </a>

      <a href="/listings/filter/city">
        <div class="filter" id="city">
          <i class="fa-solid fa-city"></i>
          <p>Top cities</p>
        </div>
      </a>

      <a href="/listings/filter/mansion">
        <div class="filter" id="mansion">
          <i class="fa-solid fa-vihara"></i>
          <p>Mansions</p>
        </div>
      </a>

      <a href="/listings/filter/cabin">
        <div class="filter" id="cabin">
          <i class="fa-solid fa-house-flag"></i>
          <p>Cabins</p>
        </div>
      </a>

      <a href="/listings/filter/treeHouse">
        <div class="filter" id="treeHouse">
          <i class="fa-solid fa-building-wheat"></i>
          <p>Tree house</p>
        </div>
      </a>

      <a href="/listings/filter/castle">
        <div class="filter" id="castle">
          <i class="fa-solid fa-chess-rook"></i>
          <p>Castles</p>
        </div>
      </a>

      <a href="/listings/filter/camp">
        <div class="filter" id="camp">
          <i class="fa-solid fa-campground"></i>
          <p>Camping</p>
        </div>
      </a>

      <a href="/listings/filter/farm">
        <div class="filter" id="farm">
          <i class="fa-solid fa-tractor"></i>
          <p>Farm</p>
        </div>
      </a>

      <a href="/listings/filter/beach">
        <div class="filter" id="beach">
          <i class="fa-solid fa-umbrella-beach"></i>
          <p>Beach</p>
        </div>
      </a>

      <a href="/listings/filter/arctic">
        <div class="filter" id="arctic">
          <i class="fa-solid fa-snowman"></i>
          <p>Arctic</p>
        </div>
      </a>

      <a href="/listings/filter/island">
        <div class="filter" id="island">
          <i class="fa-solid fa-arrow-up-from-water-pump"></i>
          <p>Island</p>
        </div>
      </a>
    </div>

    <div class="tax-toggle navbar-nav">
      <div class="form-check form-switch form-check-reverse">
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckDefault"
          >Display total after taxes</label
        >
      </div>
    </div>
  </div>
</nav>
