<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a
        href="https://www.linkedin.com/in/ujjwal-bhadani-92a5aa2a7"
        target="_blank"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
      <a href="#"><i class="fa-brands fa-github"></i></a>
      <a href="#"><i class="fa-brands fa-facebook"></i></a>
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
    </div>
    <div>&copy;WanderLust Private Limited</div>

    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
