<% layout("/layouts/boilerplate") %>

<div class="row">
  <div class="alert alert-danger col-6 offset-3 mt-3" role="alert">
    <p class="alert-heading"><%= message %></p>
  </div>
  <img
    src="/Images/Error.png"
    class="rounded mx-auto d-block mt-3 col-4 offset-3"
    alt="error"
  />
</div>
